    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>{{ absence.designation }}</h1>
            <p id="post-body">{{ post.body }}</p>
            <p id="actions">
                <a class="btn btn-primary btn-lg" href="#" id="edit-btn" role="button">Edit</a>
            </p>
        </div>
    </div>