    <script>
        var absenceId = "{{ absence._id }}";
        var absenceContent;
        var makeEditable = function (event) {
            // capture the content of the absence, then replace with editable textarea
            absenceContent = $("#absence-body").html();
            var editableText = $('<textarea id="editable-absence-body" class="form-control" />');
            editableText.val(absenceContent);
            $("#absence-body").replaceWith(editableText);
            editableText.focus();

            var saveBtn = $('<a class="btn btn-primary btn-lg" id="save-btn" role="button">Save</a>');
            var cancelBtn = $('<a class="btn btn-info btn-lg" id="cancel-btn" role="button">Cancel</a>');

            saveBtn.click(function () {
                // capture the new absence content and send to backend
                absenceContent = $("#editable-absence-body").val();
                axios.post("/absences/updateUserAbsence/" + absenceId, { body: absenceContent });
                restoreBody();
            });
            cancelBtn.click(restoreBody);
            // replace "Edit" button with "Save" and "Cancel"
            $("#actions").html([saveBtn, cancelBtn]);
        };

        $('#edit-btn').click(makeEditable);

        var restoreBody = function() {
            var absenceBody = $('<p id="absence-body"></p>');
            absenceBody.html(absenceContent);
            $("#editable-absence-body").replaceWith(absenceBody);
            var editBtn = $('<a class="btn btn-primary btn-lg" href="#" id="edit-btn" role="button">Edit</a>');
            editBtn.click(makeEditable);
            $("#actions").html(editBtn);
        };

    </script>