<div class="row">
    <h2>Posts</h2>
</div>
<div class="list-group">
    {{#each posts }}
        <a href="/absences/updateUserAbsence/{{ this._id }}" class="list-group-item">
            {{ this.designation }}
        </a>
    {{/each}}
</div>
