    <!DOCTYPE html>
    <html lang='en'>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
        <!-- jQuery for easy DOM manipulation -->
        <script src="https://code.jquery.com/jquery-3.3.0.min.js"
            integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4="
            crossorigin="anonymous">
        </script>
        <!-- Axios for AJAX requests -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>

    <body>
    <div class="container" style="padding: 50px;">
        {{{body}}}
    </div>
    </body>
    </html>